.ui.grid.page
  .ui.sixteen.wide.column
    .row
    %h1.ui.center.aligned.header Legenda Traduzida
    .row
    %table.ui.black.table
      %thead
        %tr
          %th Sequência
          %th Tempo
          %th Linha
      %tbody
        - @subtitle.each do |line|
          %tr
            %td= line.sequence
            %td= line.time_str
            %td= line.text.join(' ')
