.ui.grid.page
  .ui.sixteen.wide.column
    .row
    %h1.ui.center.aligned.header Legenda Traduzida
    .row
    %table.ui.black.table
      %thead
        %tr
          %th.seq Sequência
          %th.time Tempo
          %th.text Linha
      %tbody
        - @subtitle.each do |line|
          %tr
            %td.seq= line.sequence
            %td.time= line.time_str
            %td.text
              .ui.fluid.input
                - line.text.each do |line_array|
                  %input{value: line_array }

